.asideHeader {
  background-color: #f0f2f5;
  height: 60px;
  min-height: 60px;
  padding-inline: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: 1px solid rgb(139, 139, 139);
  .userImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    svg {
      width: 45px;
      height: 45px;
    }
  }
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .headerBtn {
      width: 40px;
      height: 40px;
      cursor: pointer;
      border-radius: 50%;
      display: grid;
      place-items: center;
      svg {
        width: 25px;
        height: 25px;
        fill: #54656f;
      }
    }
  }
}
