.mainChat {
  flex-grow: 1;
  background: url('./bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  // overflow-y: scroll;
}
